@import "src/styles/_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

div.Booking {
  display: inline-flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  // border-right: 2px solid $stripeLight;
  p {
    margin: 10px 0;
    span {
      display: block;
    }
  }
}

div.Response {
  margin: 50px 0;
  button {
    border-radius: 60px;
    padding: 12px 60px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    &.will-not-attend {
      background: $brightRed;
    }
    &.will-attend {
      background: $brightGreen;
    }
  }
}


div.animated-gradient {
  background: repeating-linear-gradient(to right, $brightGreen 0%, blue 50%, $brightGreen 100%);
  width: 100%;
  background-size: 200% auto;
  height: 10px;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  opacity: 0;
  transition: 0.1s ease;
  &.loading {
    opacity: 1;
  }
}

@keyframes gradient {
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}


@media screen and (min-width: 650px) {
  div.Booking {
    width: 40%;
  }
}
