@import "src/styles/_variables";

div.Auth {
  height: 100%;
  position: relative;
  div.titles {
    position: relative;
    margin: 0px auto;
    padding-top: 35px;
    width: 70%;
    min-width: 300px;
    max-width: 700px;
    text-align: center;
    h1{
      font-size: 44px;
      font-weight: 400;
      padding-top: 70px;
      letter-spacing: 0.9px;
      // margin: 15px 0;
    }
    h2 {
      margin: 25px 0;
      line-height: 150%;
      font-size: 26px;
      font-weight: 300;
      color: $stripeDark;
    }
  }






  div.card {
    position: relative;
    margin: 50px auto;
    max-width: 600px;
    // height: 75%;
    padding-top: 40px;
    width: 70%;
    -webkit-box-shadow: 0px 4px 40px -4pxrgba(0,0,0,0.20);
    -moz-box-shadow: 0px 4px 40px -4px rgba(0,0,0,0.20);
    box-shadow: 0px 4px 40px -4px rgba(0,0,0,0.20);
    border-radius: 5px;
    text-align: center;

    input {
      transition: 0.2s ease;
      margin: 4px 0;
      border-radius: 5px;
      border: 2px solid $stripeLight;
      line-height: 48px;
      width: 70%;
      outline:none;
      font-size: 17px;
      text-indent: 15px;
      background: $stripeLight;
      &:focus {
        background: white;
      }
      &::placeholder {
        color: $stripeDark;
      }
    }

    div.CTAButton {
      margin: 30px 0 40px 0;
      background: $brightBlue;
      color: white;
      display: inline-block;
      padding: 12px 100px;
      cursor: pointer;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 600;
      transition: 0.2s ease;
      letter-spacing: 1.2px;
      transform: translate3d(0, 0, 0);
      -webkit-box-shadow: 0px 4px 40px -4pxrgba(0,0,0,0.20);
      -moz-box-shadow: 0px 4px 40px -4px rgba(0,0,0,0.20);
      box-shadow: 0px 4px 40px -4px rgba(0,0,0,0.20);
      &:hover {
        transform: translate3d(0, -5%, 0);
        background: $brightBlueHover;
      }
    }
    div.CardFooter {
      height: 60px;
      background: $stripeLight;
      line-height: 60px;
    }
  }
}
