@import "src/styles/_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900');

div.Booking {
  display: inline-flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  width: 100%;
  height: 100%;
  background: $darkestGrey;
  position: relative;
  // border-right: 2px solid $stripeLight;
  p {
    margin: 10px 0;
    span {
      display: block;
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display:none;
  }
}

div.Response {
  padding-top: 40px;
  margin: 50px 10px 20px 10px;
  // text-align: center;
  span.attending {
    font-size: 22px;
    font-weight: 600;
    color: $green;
    // padding: 20px 60px;
    display: block;
    &.didnt {
      color: $pink;
    }
  }
  span.not-attending {
    font-size: 22px;
    font-weight: 600;
    color: $pink;
    // padding: 20px 60px;
    display: block;
    &.didnt {
      color: $pink;
    }
  }
  div.book-cancel {
    background: $darkGrey;


    padding: 30px 0px;
    margin: 80px 0px 50px 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 58px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    // text-indent: 30px;
    color: $lightGrey;
    &:hover {
      background: $midGrey;
      color: white !important;
    }
    &.cancel {
      background: $darkestGrey !important;
    }
  }
  span.fully-booked {
    font-size: 22px;
    font-weight: 600;
    color: $pink;
    display: block;
    padding: 10px 0 0 0;
  }

  div.guests {
    margin-bottom: 20px;
    // margin-left: 2px;
    h4 {
      display: inline-block;
      font-size: 13px;
      font-weight: 300;
      color: $headerColor;
      margin-right: 20px;
      text-transform: uppercase;
    }
    span {
      display: inline-block;
      margin-right: 40px;
      font-size: 32px;
      font-weight: 500;
      color: $lightGrey;
      cursor: pointer;
      &:hover {
        color: white;
      }
      &.disable {
        color: $midGrey !important;
        cursor: not-allowed;
      }
    }
  }
}

div.attendees {
  padding: 5px 10px;
  h4 {
    text-transform: uppercase;
    color: $headerColor;
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    padding-right: 20px;
    text-indent: 1px;
  }
  p {
    padding: 8px 0;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: $lightGrey;
    span {
      border-top: 3px $lightGrey solid;
      padding: 6px 0;
      &:last-of-type {
        border-bottom: 3px $lightGrey solid;
      }
    }
  }
}


span.circle{
  display: inline-block;
  width:10px;
  height:10px;
  margin-left: 9px;
  // background:#fff;
  background: $lightGrey;
  // border-radius:100%;
  position:relative;
  // transform: scale3d(1, 1, 1);
  &.loading {
    animation:pulse 2s linear infinite;
  }
  @keyframes pulse{
    0%{
      // transform: scale3d(1, 1, 1);
      // opacity: 1;
      // background:#fff;
      transform: rotate(0deg);
      // background:$blue;
    }
    50%{
      // transform: scale3d(2.3, 2.3, 2.3);
      // opacity: 0.4;
      // background:$brightBlue;
      transform: rotate(360deg);
    }
    100%{
      // transform: scale3d(1, 1, 1);
      // opacity: 1;
      // background:#fff;
      transform: rotate(0deg);
      // background:$blue;
    }
  }
}

@media screen and (min-width: 720px) {
  div.Booking {
    width: 30%;
  }
}
