@import "src/styles/_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900');

div.Booking {
  display: inline-flex;
  overflow: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: $darkestGrey;
  position: relative;
  p {
    margin: 10px 0;
    span {
      display: block;
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display:none;
  }
}

div.Response {
  padding-top: 40px;
  margin: 40px 0px 0px 0px;
  &.past {
    margin: 60px 0px 30px 0px;
  }
  span.attending {
    padding-left: 10px;
    font-size: 22px;
    font-weight: 600;
    color: $green;
    height: 25px;
    line-height: 25px;
    display: block;
    &.didnt {
      color: $pink;
    }
  }
  span.fully-booked {
    padding-left: 10px;
    font-size: 22px;
    font-weight: 600;
    color: $pink;
    display: block;
    margin: 10px 0 0 0;
    height: 25px;
    line-height: 25px;
  }
  span.not-attending {
    font-size: 22px;
    font-weight: 600;
    color: $pink;
    height: 25px;
    line-height: 25px;
    display: block;
    &.didnt {
      color: $pink;
      height: 25px;
      line-height: 25px;
    }
  }
  div.book-cancel {
    background: $darkGrey;
    padding: 30px 0px;
    margin: 50px 0px 40px 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 58px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: $lightGrey;
    &.allowed {
      &:hover {
        background: $midGrey;
        color: white !important;
      }
    }
    &.cancel {
      background: $darkestGrey !important;
    }
    &.disabled {
      color: $midGrey !important;
      cursor: not-allowed;
      span.circle {
        background: $midGrey !important;
      }
    }
  }

  div.guests {
    margin: 0px 10px 20px 10px;
    height: 88px;
    div.guest-heading {
      h4 {
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        color: $headerColor;
        margin-bottom: 5px;
        text-transform: uppercase;
        span {
          padding-left: 17px;
        }
      }
    }
    div.guest-buttons {
      display: flex;
      margin-top: 10px;
      flex-direction: row;
      justify-content: space-between;
      span {
        display: inline-block;
        font-size: 32px;
        font-weight: 500;
        color: $lightGrey;
        background: $darkGrey;
        border-radius: 15px;
        padding: 10px;
        width: 48%;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: white;
        }
        &.disable {
          color: $midGrey !important;
          cursor: not-allowed;
        }
      }
    }
  }
}

div.attendees {
  padding: 5px 10px;
  h4 {
    text-transform: uppercase;
    color: $headerColor;
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    padding-right: 20px;
    text-indent: 1px;
  }
  p {
    padding: 8px 0;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: $lightGrey;
    span {
      border-top: 3px $lightGrey solid;
      padding: 6px 0;
      &:last-of-type {
        border-bottom: 3px $lightGrey solid;
      }
    }
  }
}


span.circle{
  display: inline-block;
  width:10px;
  height:10px;
  margin-left: 9px;
  // background:#fff;
  background: $lightGrey;
  // border-radius:100%;
  position:relative;
  // transform: scale3d(1, 1, 1);
  &.loading {
    animation:pulse 2s linear infinite;
  }
  @keyframes pulse{
    0%{
      // transform: scale3d(1, 1, 1);
      // opacity: 1;
      // background:#fff;
      transform: rotate(0deg);
      // background:$blue;
    }
    50%{
      // transform: scale3d(2.3, 2.3, 2.3);
      // opacity: 0.4;
      // background:$brightBlue;
      transform: rotate(360deg);
    }
    100%{
      // transform: scale3d(1, 1, 1);
      // opacity: 1;
      // background:#fff;
      transform: rotate(0deg);
      // background:$blue;
    }
  }
}

@media screen and (min-width: 720px) {
  div.Booking {
    width: 30%;
  }
}
