@import "src/styles/_variables";

div.Dates {
  background: $darkGrey;
  flex-direction: column;
  position: relative;
  height: 100%;
  h2 {
    font-size: 16px;
  }
  div.header-image {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 330px;
    left: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-position: center top !important;
    img {

    }
  }
  div.date-scroll {
    z-index: 6;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 0px);
    position: relative;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
      display:none;
    }
    div.transparent-box {
      height: 330px;
      background: transparent;
      z-index: 8;
      position: relative;
      background: linear-gradient( to top, $darkestGrey, rgba(0, 0, 0, 0) );
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 30px 20px;
      h2 {
        color: $lightGrey;
        font-size: 60px;
        font-weight: 600;
      }
      h3 {
        color: $lightGrey;
        font-size: 30px;
        font-weight: 300;
      }
    }
    div.weekend-text {
      font-size: 90px;
      color:$midGrey;
      z-index:200;
      position: relative;
      overflow: hidden;
      line-height: 90%;
      font-weight: 500;
      background: $darkestGrey;
      border-top: 2px solid $darkestGrey;
      border-bottom: 2px solid $darkestGrey;
      padding: 30px 30px;
    }

    div.show-previous-dates {
      padding: 20px 12px;
      background: $darkGrey;
      color: $lightGrey;
      width: 100%;
      font-weight: 300;
      text-align: left;
      position: relative;
      font-size: 14px;
      border-top: 2px solid $darkestGrey;
      border-bottom: 2px solid $darkestGrey;
      z-index: 2;
      cursor: pointer;
      position: relative;
      &:hover {
        background: $midGrey;
        color:white;
      }
    }

  }
}

@media screen and (min-width: 720px) {
  div.Dates {
    width: 50%;
  }
}
