
$navyBlue: #484848;
$brightBlueHover: #45489b;
$brightBlue: #777bf8;
$brightTurk: #68d4f8;
$brightGreen: #3ecf8e;
$brightRed: #f74842;

$stripeLight: #f6f9fc;
$stripeMid: #e6ebf1;
$stripeMidBlue: #ccddee;
$stripeDark: #8899aa;

$headerColor: #dbd5cb;
$headerColor: #bab5ad;

$lightGrey: #cecaca;
$lightGrey: #dbd5cb;
$midGrey: #434251;
$darkGrey: #323441;
$darkGreyO: rgba(50, 52, 65, 0.75);
$darkestGrey: #2d2f3a;

$green: #41cc8f;
$pink: #f33974;
$orange: #f1873a;
$blue: #5ca5fc;
