
$navyBlue: #484848;
$brightBlueHover: #45489b;
$brightBlue: #777bf8;
$brightTurk: #68d4f8;
$brightGreen: #3ecf8e;
$brightRed: #f74842;

$stripeLight: #f6f9fc;
$stripeMid: #e6ebf1;
$stripeMidBlue: #ccddee;
$stripeDark: #8899aa;

// $lightGrey: #dcdcde;
$lightGrey: #cecaca;
$midGrey: #434251;
$darkGrey: #323441;
$darkestGrey: #2d2f3a;

$green: #5ece9e;
$pink: #f33974;
$orange: #f1873a;
$blue: #5ca5fc;
