@import "src/styles/_variables";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

div.Logo {
  position: absolute;
  top: 30px;
  left:50px;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  span {
    background: white;
    width: 100%;
    display: inline-block;
    position: absolute;
    height: 8px;
  }
  &.invert {
    color: white;
    span {
      // color: $navyBlue;
      background: $navyBlue;
    }
  }
}
