@import "src/styles/_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

div.Location {
  position: relative;
  background: $navyBlue;
  // width: 320px;
  color: white;
  height: 100%;
  h2 {
    margin: 50px 20px 10px 0;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: $stripeMid;
  }
}

nav {
  display: flex;
  height: 63px;
  position: relative;
  border-bottom: $navyBlue;
  justify-content:flex-end;
  padding: 0px 30px;
  margin-bottom: 10px;
  align-items:flex-end;
  button {
    min-width: 35px !important;
    min-height: 35px !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    margin: 0;
    line-height: 0px !important;
    box-sizing: border-box;
    position: absolute;
    background: $stripeDark !important;
    border-radius: 50% !important;
    span{
      &:last-child {
        border: 2px solid white;
      }
      cursor: pointer;
      color: white;
      font-weight: 600;
    }
  }
}

div.SingleLocation {
  display: flex;
  flex-direction: column;
  button {
    color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    align-items: flex-end;
    padding: 30px 20px;
    h3 {
      font-weight: 500 !important;
      font-size: 14px;
      text-align: right;
    }
    h4 {
      font-weight: 300 !important;
      font-size: 13px;
      text-align: right;
      font-style: italic;
    }
  }
}

#simple-menu {
  div:last-child {
    outline: none !important;
    transform: translate(-86%, 35px) !important;
    transform-origin: 0% 0% !important;
    left: 255px !important;
    span {
      outline: none !important;
    }
    ul {
      padding: 10px 0;
      outline: none !important;
      li {
        &:hover {
          background: $stripeMid;
        }
        height: auto !important;
        padding: 4px 20px;
        min-width: 120px;
        font-size: 12px;
        outline: none;
        outline: none !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        > div {
          font-family: 'Open Sans', sans-serif;
          display: block !important;
          &:last-of-type{
            font-size: 11px;
          }
        }
      }
    }
  }
}
