@import "src/styles/_variables";

div.Dates {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  border-right: 2px solid $stripeLight;
  h2 {
    font-size: 16px;
  }
  div.date-scroll {
    overflow-y: scroll;
    height: calc(100% - 50px);
    text-align: center;
    padding: 30px 0;
    button {
      overflow: hidden;
      border-radius: 12px;
      margin: 5px 20px;
      div.date {
        overflow: hidden;
        background: $stripeMid;
        padding: 15px 25px;
        // border-radius: 12px;
        text-align: center;
        width: 200px;
        li {
          text-align: center !important;
          span {
            text-align: center !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  div.Dates {
    width: 40%;
  }
}
