@import "src/styles/_variables";

div.Dates {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  border-right: 2px solid $stripeLight;
  h2 {
    font-size: 16px;
  }
  div.date-scroll {
    overflow-y: scroll;
    height: calc(100% - 50px);
    text-align: center;
    padding: 10px 0;
    button {
      margin: 1px 0;
      overflow: hidden;
      width: 100%;
      div.SingleDate {
        overflow: hidden;
        background: $stripeMid;
        // border-bottom: 4px solid $stripeLight;
        padding: 50px 25px;
        text-align: center;
        width: 100%;
        span {
          text-align: center !important;
          color: $brightGreen;
        }
        // li {
        //   text-align: center !important;
        // }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  div.Dates {
    width: 40%;
  }
}
