@import "src/styles/_variables";

div.Auth {
  height: 100%;
  position: relative;
  background: $darkGrey;
  div.titles {
    position: relative;
    margin: 0px auto;
    padding: 35px 0 0px 0;
    width: 70%;
    min-width: 300px;
    max-width: 700px;
    text-align: center;
    h1{
      font-size: 40px;
      font-weight: 400;
      padding-top: 70px;
      letter-spacing: 0.9px;
      color: white;
      // margin: 15px 0;
    }
    h2 {
      margin: 24px 0 0px 0;
      line-height: 150%;
      font-size: 22px;
      font-weight: 300;
      color: $headerColor;
    }
  }
  div.Message {
    display: block;
    position: relative;
    margin: 30px auto 0px auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    p {
      width: 90%;
      text-align: center;
      line-height: 28px;
      color: $green;
      font-weight: 300;
      font-size: 16px;
      padding: 10px 0;
      span {
        font-weight: 700;
      }
      &.error {
        color: $pink;
      }
    }
  }

  div.card {
    position: relative;
    margin: 0px auto;
    max-width: 600px;
    width: 70%;
    border-radius: 5px;
    text-align: center;
    input {
      transition: 0.2s ease;
      margin: 4px 0;
      border-radius: 3px;
      border: 2px solid $stripeLight;
      line-height: 44px;
      width: 70%;
      outline:none;
      font-size: 16px;
      text-indent: 15px;
      background: $stripeLight;
      &:focus {
        background: white;
      }
      &::placeholder {
        color: $lightGrey;
      }
    }

    div.CTAButton {
      margin: 25px 0 10px 0;
      background: $green;
      opacity: 0.9;
      color: white;
      display: inline-block;
      padding: 16px 0;
      width: 70%;
      font-size: 14px;
      cursor: pointer;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 600;
      transition: 0.2s ease;
      letter-spacing: 1.2px;
      transform: translate3d(0, 0, 0);
      -webkit-box-shadow: 0px 4px 40px -4pxrgba(0,0,0,0.20);
      -moz-box-shadow: 0px 4px 40px -4px rgba(0,0,0,0.20);
      box-shadow: 0px 4px 40px -4px rgba(0,0,0,0.20);
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
       -webkit-tap-highlight-color: transparent;
      &:hover {
        opacity: 1;
      }
    }
    div.CardFooter {
      height: 50px;
      // background: $stripeLight;
      line-height: 50px;
      font-size: 14px;
      a {
        color: $headerColor;
        transition: 0.1s ease;
        &:hover {
          text-decoration: underline;
          color: white;
        }
      }
    }
    div.OutlookLink {
      margin: 45px 0;
      a {
        color: $brightBlue;
        transition: 0.1s ease;
        &:hover {
          text-decoration: underline;
          color: $brightBlueHover;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  div.Auth {
    div.titles {
      width: 88%;
      h1{
        font-size: 32px;
        font-weight: 400;
        padding-top: 70px;
        letter-spacing: 0.9px;
        color: white;
      }
      h2 {
        margin: 24px 0 0px 0;
        font-size: 18px !important;
      }
    }
    div.card {
      width: 80%;
      input {
        width: 80%;
        min-width: 280px;
      }
    }
    div.CTAButton {
      width: 80% !important;
      min-width: 280px;
    }
  }
  div.Message {
    padding-top: 20px !important;
  }
}

@keyframes createBox{
  0%   {max-width: 0px;}
  10%   {max-width: 1000px;}
  90%  {max-width: 1000px;}
  100% {max-width: 0px;}
}
