@import "src/styles/_variables";

div.BackNav {
  height: 60px;
  background: $darkGrey;
  width: 100%;
  display: flex;
  align-items: center;
  overflow:hidden;
  font-size: 14px;
  padding: 0 0px;
  position: absolute;
  left: 0;
  color: $lightGrey;
  z-index: 500;
  font-weight: 600;
  // text-indent: 5px;
  // border-bottom: 4px solid $darkestGrey;
  transition: 0.2s ease;
  transform: scale(1);
  overflow: hidden;
  opacity: 1;
  div.block-color {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    div{
      mix-blend-mode:hard-light;
      font-size: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top:0;
      opacity: 0.6;
      background: white;
    }
  }
  &.date {
    opacity: 0;
    z-index: -1;
    text-indent: 20px;
    color: $darkestGrey;
    // transform: translateY(-60px);
  }
  &.display-nav-bar {
    opacity: 1;
    z-index: 500;
  }
  span.text {
    text-indent: 20px;
    z-index: 100;
    // color: $darkGrey;
    // mix-blend-mode:color-burn;
  }
  span.mobile {
    z-index: 500;
    text-indent: 50px;
  }
}
div.arrow {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 50px;
  height: 60px;
  z-index: 600;
  display: inline-block;
  &.date a{
    span {
      border-color: $darkestGrey;
    }
  }
  a {
    padding: 5px;
    font-size: 0px;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: none;
      border-style: solid;
      border-color: #fff;
      border-width: 2px 2px 0 0;
      display: inline-block;
      height: 14px;
      margin-right: 10px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      width: 14px;
      -webkit-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease;
      opacity: .9;
    }
  }
}
